---
---

@import "{{ site.theme }}";

.tweets-container {
  margin: 0 auto;
}

.tweet-item, .tweet {
  border-bottom: 1px solid #eee;
  padding: 15px 0;  
  margin-bottom: 0; 
}

.tweet-date {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-top: 0;  
}

.tweet-content {
  margin-bottom: 15px;
}

.tweet-media img,
.tweet-media video {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 0 auto; 
}

.tweet-media audio {
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.post-list {
  margin-left: 0;  
  padding-left: 0; 
  list-style: none; 
}

.post-list li {
  margin-bottom: 0; 
}

.post-list h3 {
  margin-top: 0;
  margin-bottom: 10px;
}